div.Login,div.SignUp{
    display:flex;
    div.image{
        width:58vw;
        height:101%;
        background: linear-gradient(0deg, rgba(255,0,224,0.6) 33%, rgba(175,1,255,0.6) 66%);
        img{
            width:100%;
            position: relative;
            z-index:-10;
            opacity: 0.6;
        }
    }
    div.form{
        width:36vw;
        padding:10px;
        h2{
            font-size:3.4vw;
            text-align: left;
            margin-left:30px;    
        }
        form{
            width:100%;
            margin:auto;
            padding:10px;
        }
        label{
            font-size:2.2vw;
        }
        input{
            font-size:2.3vw;
            margin:0px;
        }
        button.login,button.signup{
            padding:10px;
            width:65%;
            background:linear-gradient(90deg, rgba(255,0,224,1) 33%, rgba(175,1,255,1) 66%);
            border-radius:50px;
            border:none;
            color:white;
            opacity:0.8;
            transition: 0.2s all ease;
            cursor:pointer;
            font-size:2vw;
            &:hover{
                opacity:1;
            }
        }
        p{
            margin-top:20px;
            font-size:15px;
            padding:5px;
            letter-spacing: 2px;
            color:rgba(0,0,0,0.5);
        }
        a{
            color:rgba(0,0,0,0.5);
            transition: 0.2s all ease;
        }
        a:hover{
            color:rgba(0,0,0,0.7);
        }
    }
    #my-helper-text{
        color:green;
        text-decoration: underline;
    }
}
@media screen and (max-width:768px){
    div.Login,div.SignUp {
        div.image{
            display:none;
        }
        div.form{
            padding:0;
            margin:auto;
            width:89vw;
            p{
                font-size:13px !important;
            }
            input{
                font-size:30px;
                margin:2px;
            }
            h2{
                font-size:45px;
            }
            label{
                font-size:20px;
            }
            button.login,button.signup{
                font-size:20px !important;
            }
        }
    }
}
@media screen and (max-width:600px){
    div.Login div.form,div.SignUp div.form{
        margin-left:10px;        
    }
}

@media screen and (max-width:320px){
    div.Login div.form,div.SignUp div.form{
        margin-left:-5px;
        input{
            margin:0;
            font-size:20px;
        }
    }
}